# Markdowm Basics
## markdown basics
### markdowm basics
#### markdowm basics

* **point1** (bold)
* *point2* (itallic)
* ***point3*** (bold and itallic)

* normal text 
  *sublist 1
  *sublist 2

> 1. point1
> 2. point2

* []option 1
* []option 2
* []option 3

* google site -- [1]: http://www.google.com
* msn site -- [2]: https://www.msn.com

* []option 1
* google site -- [google][1]
[1]: http://www.google.com

### python basics
* python version 3.7
- functional programming
- object oriented programming
- scripting programming

In [1]:
print("hello,gitam")

hello,gitam

In [3]:
print("hello,gitam")
print("hyderabad")

hello,gitam
hyderabad

In [4]:
print("hello gitam","|||",end=" ")
print("hyderabad",end="|||")
print("python programming")

hello gitam ||| hyderabad|||python programming

# assignment

In [5]:
n1 =100 # single variable assignment 
a=b=c=20 # multi variable assighment of the same value
a1,b1,c1=111,222,333 # multi variable assignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### data types and conversions
* int
* float
* char

In [6]:
a = 100;
s1 = "python"
s2 = "p"
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [7]:
i=100
print(type(i))

<class 'int'>

In [8]:
i=100
print(type(1))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [9]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))

<class 'str'>
<class 'int'>

In [10]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [11]:
a=1234
print(len(str(a)))

4

### reading a value
* input("message") -- string

In [14]:
s1=input("enter your name")
print(s1)
print(type(s1))

enter your namemalkaji deekshitha
malkaji deekshitha
<class 'str'>

In [15]:
# want a number as a input
n1=int(input("enter a number"))
print(n1,type(n1))

enter a number123
123 <class 'int'>

## operators
* operator is a symbols used to perform a specific kind of opertions
### Arithmatic operators
- +
- /
- -
- *
- %
- **
- //

In [16]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1/10)
print(n1**10)

1244
1224
12340
123.4
4
123.4
8187505353567209228244052427776

# precedence of arithmetic operations
- parenthesis
- power
- multiplication
- addition
### left to right

In [17]:
x=1 + 2** 3 / 4 + 5
print(x)

8.0

In [18]:
x=1 + 2 ** 3 / 4 * 5
print(x)

11.0

### Relational Operators
- ==
- !=
- greater(>)
- lesser(<)
- lesser than or equal to(<=)
- greater than or equal to(>=)

In [19]:
x = 10
a1 = x > 15
print(a1)

False

### logical operators
- and
- or
- not

In [20]:
i = 100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) and (i > 800)
print(a1)
print(a2)

True
False

### control flow statements
- conditional statements
- looping statements

## if-else statements 
**syntax**
if boolean_condition;
**statements
* else;

In [22]:
n=int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number13
odd

In [25]:
# to check given number is perfectly multiple of 3 and 5
n=int(input("enter a number"))
if n%3==0 and n%5==0:
  print("yes")
else:
  print("no")

enter a number10
no

In [26]:
n=int(input("enter a number"))
if n==0:
    print("zero")
elif n>0:
    print("positive integer")
elif n<0:
    print("negative integer")

enter a number0
zero